{% extends 'base.html.twig' %}

{% block title %}TestTask{% endblock %}
{% block javascripts %}
    <script src="/assets/messagesList.js"></script>
{% endblock %}

{% block body %}
    <h1>Received messages</h1>

    {% for message in messages %}
    <div class="card">
        <div class="card-header">
            {{ message.title }}
            {% if message.sender is not null %}
                <small>(Sent by {{ message.sender.email }})</small>
            {% endif %}
            <span class="badge badge-primary">{{ message.context }}</span>
        </div>
        <div class="card-body">
            <p class="card-text">{{ message.content }}</p>
        </div>
        <div class="card-footer text-muted">
            {% for recipient in message.messageRecipients %}
                {% if recipient.user.id == app.user.id %}
                    {% if recipient.isRead == 0 %}
                        <a href="javascript:setAsRead({{ message.id }})" class="btn btn-sm btn-primary">Mark as read</a>
                    {% else %}
                        <a href="javascript:setAsUnread({{ message.id }})" class="btn btn-sm btn-secondary">Mark as unread</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <a href="javascript:deleteMessage({{ message.id }})" class="btn btn-sm btn-secondary">Delete</a>

            Sent on {{ message.createdAt|date('d.m.Y H:i') }}
        </div>
    </div>
    <br/>
    {% endfor %}
{% endblock %}